/* Common features */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(139, 149, 158);
}

h2 {
  color: rgb(206, 213, 219);
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 5px;
}

span {
  color: rgb(6, 102, 235);
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  bottom: 10px;
}

#page-wrapper {
  width: 100%;
  height: 100vh;
}

.container {
  margin: 0 auto;
}

.focus {
  font-weight: 600;
  color: rgb(25, 28, 31);
}

/* Header */
header {
  padding: 50px 0;
}

/* Navbar */
header nav {
  display: flex;
  justify-content: space-between;
}

header nav > #nav-left,
header nav > #nav-right {
  display: flex;
  align-items: center;
}

/* Navbar left */
#nav-left > a.logo {
  display: inline-block;
  width: 50px;
  padding: 0;
}

#nav-left > a.logo > img {
  width: 100%;
}

#nav-left a,
#nav-right .dropdown-item > a {
  padding: 0 18px;
  display: none;
}

#nav-left a:hover,
#nav-right .dropdown-item > a:hover,
#nav-right .dropdown-menu a:hover {
  color: rgb(25, 28, 31);
  transition: color 0.25s;
}

#nav-right .burger-menu-icon > i {
  font-size: 20px;
  cursor: pointer;
}

#nav-right > ul > li.dropdown-item {
  display: inline-block;
  position: relative;
}

#nav-right > ul > li > .dropdown-menu {
  position: absolute;
  top: 40px;
  left: 0;
  width: 200px;
  padding: 15px 0 15px 5px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  display: none;
}

#nav-right .dropdown-menu.active {
  display: block;
}

#nav-right .dropdown-menu a {
  display: inline-block;
  padding: 15px 0 15px 10px;
}

#nav-right > ul > li > #functionality {
  width: 1000px;
  left: 35%;
  transform: translateX(-35%);
}

#functionality::after {
  content: '';
  display: table;
  clear:both;
}

#functionality > .list-wrapper {
  float: left;
  padding-right: 20px;
  padding-left: 15px;
}

#functionality .title {
  display: flex;
  align-items: center;
  padding: 15px 0 15px 10px;
}

#functionality .title > .icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(206, 213, 219);
  display: flex;
  align-items: center;
  justify-content: center;
}

#functionality .title > .icon > i {
  color: #fff;
  font-size: 14px;
}

#functionality a.soon {
  color: rgb(25, 28, 31);
  opacity: 0.2;
}

/* Navbar right */
#nav-right > .btn {
  margin-left: 15px;
  padding: 12px 18px;
  border-radius: 10px;
  font-weight: 500;
  display: none;
}

#nav-right > a.btn.btn-light {
  background-color: rgba(25, 28, 31, 0.08);
  color: rgb(25, 28, 31);
  border: 1px solid background-color: rgba(25, 28, 31, 0.08);
}

#nav-right > a.btn.btn-light:hover {
  background-color: rgba(25, 28, 31, 0.16);
  transition: background-color 0.25s;
}

#nav-right > button.btn.btn-dark {
  background-color: rgb(25, 28, 31);
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border: 1px solid rgb(25, 28, 31);
  cursor: pointer;
}

#nav-right > button.btn.btn-dark:hover {
  background-color: rgba(25, 28, 31, 0.84);
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Small 576px sm */
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Breakpoint Burger menu 1080px */
@media screen and (min-width: 1080px) {
  #nav-left a,
  #nav-right .dropdown-item > a {
    display: inline-block;
  }

  #nav-right .burger-menu-icon > i {
    display: none;
  }

  #nav-right > .btn {
    display: inline-block;
  }
}

/* Breakpoint Extra Large 1200px lg */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
