/* Common features */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(139, 149, 158);
  margin: 0 15px;
}

#page-wrapper {
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  padding: 50px 0;
}

/* Navbar */
header nav {
  display: flex;
  justify-content: space-between;
}

header nav > #nav-left,
header nav > #nav-right {
  display: flex;
  align-items: center;
}

#nav-left > a.logo {
  display: inline-block;
  width: 50px;
}

#nav-left > a.logo > img {
  width: 100%;
}

#nav-right > ul > li.dropdown-item {
  display: inline-block;
  position: relative;
}

#nav-right > ul > li > .dropdown-menu {
  position: absolute;
  top: 40px;
  left: 0;
  width: 200px;
  padding: 15px 0 15px 5px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  display: none;
}

#nav-right .dropdown-menu.active {
  display: block;
}

#nav-right .dropdown-menu > ul > li > a {
  display: inline-block;
  padding: 15px 0;
}

#nav-right > .btn {
  margin-left: 15px;
  padding: 15px;
  border-radius: 10px;
}

#nav-right > a.btn.btn-light {
  display: inline-block;
  background-color: rgba(25, 28, 31, 0.08);
  color: rgb(25, 28, 31);
}

#nav-right > button.btn.btn-dark {
  background-color: rgb(25, 28, 31);
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
}
